PUERTO=5000
NODE_ENV=development

DATABASE=mongodb+srv://root:<password>@cluster0.l7xwuum.mongodb.net/<db_name>?retryWrites=true&w=majority&appName=Cluster0

SECRETO=palabrasecreto
KEY=llavesecreta    