<h1 style="text-align:center;font-family:Arial,Helvetica;">Confirmar tu Cuenta</h1>

<p style="text-align:center;font-family:Arial,Helvetica;">Hola, estas a un paso de comenzar a crear una comunidad en Meeti, solo debes confirmar tu cuenta en el siguiente enlace:</p>

<a href="<%= url %>" style="display:block;font-family:Arial,Helvetica;padding:1rem; background-color:#00C897;color:white;text-transform:uppercase;text-align:center;text-decoration:none;">Confirma tu cuenta</a>

<p style="text-align:center;font-family:Arial,Helvetica;">Sí no puedes acceder  a este enlace, vísita: <%= url %></p>

<p style="text-align:center;font-family:Arial,Helvetica;">Si no solicitates este e-mail puedes ignorarlo</p>