header.bg-indigo-600.p-4
    .container.mx-auto.flex.justify-between.items-center 
        a(href="/") 
            h1.text-2xl.text-white.font-extrabold.text-center Bienes 
                span.font-normal Raices

        nav(class="my-5 text-sm md:flex md:items-center md:gap-3 font-bold text-white hidden") 
            //- a(href="#") Mis Propiedades
            a(href="/auth/registro") Crear Cuenta
            //- a(href="#") Mi Perfil
            a(href="/auth/login") Iniciar Sesión
            //- a(href="#" class="bg-indigo-800 px-10 py-2 rounded-lg") Cerrar Sesión

div(class="bg-indigo-700 py-5 hidden lg:block")
    div(class="container mx-auto flex justify-between")
        nav(class="flex items-center gap-4")
            a(href="/categoria/1" class="text-sm font-bold uppercase text-white") Casas
            a(href="/categoria/2" class="text-sm font-bold uppercase text-white") Departamentos
            a(href="/categoria/3" class="text-sm font-bold uppercase text-white") Bodegas
            a(href="/categoria/4" class="text-sm font-bold uppercase text-white") Terrenos
            a(href="/categoria/5" class="text-sm font-bold uppercase text-white") Cabañas

        form(method="POST" action="/buscador" class="flex items-center gap-3")
            //- Protección CSRF
            input(type="hidden", name="_csrf" value= csrfToken)
            
            label(for="termino" class="text-sm text-white font-bold uppercase") Búsqueda
            input(type="text" name="termino" id="termino" placeholder="Buscar Propiedadees" class="p-2 rounded-lg shadow text-sm")

            input(type="submit", value="Buscar" class="bg-indigo-800 hover:bg-indigo-400 rounded-lg text-white uppercase font-bold p-2 cursor-pointer text-sm")