<main class="contenedor contenedor-formularios no-padding">
    <h1><%= nombrePagina %></h1>

    <form action="/cambiar-password" method="POST" class="default-form">
        <div class="campo">
            <label for="actual-password">Actual Password</label>
            <input type="password" name="actualPassword" id="actual-password" placeholder="Actual Password">
        </div>
        <div class="campo">
            <label for="nuevo-password">Nuevo Password</label>
            <input type="password" name="nuevoPassword" id="nuevo-password" placeholder="Nuevo Password">
        </div>
        <div class="campo enviar">
            <input type="submit" value="Cambiar Password" class="btn btn-rosa">
        </div>
    </form>
</main>