<main class="contenedor contenedor-formularios">
    <h1><%= nombrePagina %></h1>

    <!-- Si no existe el ACTION toma la url anterior -->
    <form method="POST" class="default-form">
        <legend>¿Eliminar Meeti? Una meeti eliminada no se puede recurepar</legend>

        <div class="campo enviar">
            <input type="submit" value="Eliminar Meeti" class="btn btn-rosa">
        </div>
    </form>
</main>