<main class="contenedor contenedor-formularios">
    <h1><%= nombrePagina %></h1>

    <!-- Si no se define ACTION toma la URL de la anterior solicitud  -->
    <form method="POST" class="default-form" enctype="multipart/form-data">
        <div class="campo">
            <label for="imagen">Imagen</label>
            <input type="file" name="imagen" id="imagen">
        </div>
        <% if (grupo.imagen) { %>
            <div class="campo">
                <label>Imagen Actual</label>
                <img src="/uploads/grupos/<%= grupo.imagen %>" width="200" alt="">
            </div>
        <% } else { %>
            <p>No hay imagen actual</p>
        <% } %>
        <div class="campo enviar">
            <input type="submit" value="Guardar Cambios" class="btn btn-rosa">
        </div>
    </form>
</main>