<main class="contenedor contenedor-formularios">
    <h1><%= nombrePagina %></h1>

    <form action="/inciar-sesion" method="POST" class="default-form">
        <div class="campo">
            <label for="email">E-mail</label>
            <input type="email" name="email" id="email" placeholder="Tu E-mail">
        </div>
        <div class="campo">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" placeholder="Tu Password">
        </div>
        <div class="campo enviar">
            <input type="submit" value="Iniciar Sesión" class="btn btn-rosa">
        </div>
    </form>
</main>